<%- include('header'); -%>
  <div class="container middle-section-container-1">
    <div class="middle-container-info">
      <h2>Services</h2>
      <p>Choose from our Wide Range of Home Maintenance Services</p>
    </div>
    <div class="row middle-section-row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="middle-section-card text-center">
          <div class="card-body">
            <p class="card-title">AC Services</p>
            <p class="card-text"></p>
            <a href="/datetime" class="btn btn-outline-dark">Order now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="middle-section-card text-center">
          <div class="card-body">
            <p class="card-title">Plumber Services</p>
            <p class="card-text"></p>
            <a href="#" class="btn btn-outline-dark">Order now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="middle-section-card text-center">
          <div class="card-body">
            <p class="card-title">Electrician services</p>
            <p class="card-text"></p>
            <a href="#" class="btn btn-outline-dark">Order now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="middle-section-card text-center">
          <div class="card-body">
            <p class="card-title">Handyman services</p>
            <p class="card-text"></p>
            <a href="#" class="btn btn-outline-dark">Order now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="middle-section-card text-center">
          <div class="card-body">
            <p class="card-title">Carpenter Services</p>
            <p class="card-text"></p>
            <a href="#" class="btn btn-outline-dark">Order now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="middle-section-card text-center">
          <div class="card-body">
            <p class="card-title">Painter Services</p>
            <p class="card-text"></p>
            <a href="#" class="btn btn-outline-dark">Order now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="middle-section-card text-center">
          <div class="card-body">
            <p class="card-title">Cleaning Services</p>
            <p class="card-text"></p>
            <a href="#" class="btn btn-outline-dark">Order now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="middle-section-card text-center">
          <div class="card-body">
            <p class="card-title">Car Services</p>
            <p class="card-text"></p>
            <a href="#" class="btn btn-outline-dark">Order now</a>
          </div>
        </div>
      </div>
    </div>
    <a href="https://api.whatsapp.com/send?phone=+923058601815&text=Hi+Mr.+Expert%21&lang=en" class="float" target="_blank">
      <i class="fa fa-whatsapp my-float"></i>
    </a>
  </div>

<%- include('footer'); -%>
