<%- include('header'); -%>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/airCondition" method="post">
      <div>
          <label id="date" for="myDate">Choose your preferred party date and time (required, June 1st 8.30am to June 30th 4.30pm):</label>
          <input id="myDate" type="date" name="date" required>
          <span class="validity"></span>
          <label id="time" for="myTime">Choose your preferred party date and time (required, June 1st 8.30am to June 30th 4.30pm):</label>
          <input id="myTime" type="time" name="time" required>
          <span class="validity"></span>
      </div>
      <div>
          <input  type="submit" value="Book party!">
      </div>
  </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a type="button" class="btn btn-primary">Save changes</a>
      </div>
    </div>
  </div>
</div>
<%- include('footer'); -%>
