<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Expert Maintenance 360</title>
  <!-- Bootstrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Custom Style Sheet -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/d6965a404b.js" crossorigin="anonymous"></script>
</head>
<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> <i class="fa-solid fa-house-chimney-user"></i> Expert Maintenance 360
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow spinner-grow-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">about us</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Services
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">AC Services</a></li>
                <li><a class="dropdown-item" href="#">Cleaning Services</a></li>
                <li><a class="dropdown-item" href="#">Electrician Services</a></li>
                <li><a class="dropdown-item" href="#">Plumbing Services</a></li>
                <li><a class="dropdown-item" href="#">Geyser Services</a></li>
                <li><a class="dropdown-item" href="#">CCTV Services</a></li>
                <li><a class="dropdown-item" href="#">Generator Services</a></li>
                <li><a class="dropdown-item" href="#">Pest Control Services</a></li>
                <li><a class="dropdown-item" href="#">Carpenter Services</a></li>
                <li><a class="dropdown-item" href="#">Paint Services</a></li>
                <li><a class="dropdown-item" href="#">Message Services</a></li>
                <li><a class="dropdown-item" href="#">Makeup Services</a></li>
                <li><a class="dropdown-item" href="#">Car Services</a></li>
                <li><a class="dropdown-item" href="#">Washing machine Services</a></li>
                <li><a class="dropdown-item" href="#">Local transport Services</a></li>
                <li><a class="dropdown-item" href="#">Decoration Services</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item disabled" href="#">Choose a service from above</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/login">Signup/Login</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Select City
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Islamabad</a></li>
                <li><a class="dropdown-item" href="#">Lahore</a></li>
                <!-- <li>
                  <hr class="dropdown-divider">
                </li> -->
                <li><a class="dropdown-item" href="#">Karachi</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown user-drop">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user-large"></i>
              </a>
              <ul class="dropdown-menu user-dropdown" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="userProfile">Profile</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
