<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Expert Maintenance 360</title>
  <!-- Bootstrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!-- Custom Style Sheet -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/d6965a404b.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>
<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home"> <i class="fa-solid fa-house-chimney-user"></i> Expert Maintenance 360
        <!-- <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow spinner-grow-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div> -->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">about us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="airCondition">AC Services</a></li>
              <li><a class="dropdown-item" href="plumber">Plumbing Services</a></li>
              <li><a class="dropdown-item" href="electrician">Electrician Services</a></li>
              <li><a class="dropdown-item" href="handyman">Handyman Services</a></li>
              <li><a class="dropdown-item" href="carpenter">Carpenter Services</a></li>
              <li><a class="dropdown-item" href="painter">Paint Services</a></li>
              <li><a class="dropdown-item" href="cleaning">Cleaning Services</a></li>
              <li><a class="dropdown-item" href="car">Car Services</a></li>
              <li><a class="dropdown-item" href="home_appliances">Home appliances Services</a></li>
              <li><a class="dropdown-item" href="geyser">Geyser Services</a></li>
              <li><a class="dropdown-item" href="cctv">CCTV Services</a></li>
              <li><a class="dropdown-item" href="washing_machine">Washing machine Services</a></li>
              <li><a class="dropdown-item" href="facial">Facial Services</a></li>
              <li><a class="dropdown-item" href="hair">Hair treatment Services</a></li>
              <li><a class="dropdown-item" href="massage">Massage Services</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item disabled" href="#">Choose a service from above</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/login">Signup/Login</a>
          </li>
          <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Select City
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Islamabad</a></li>
                <li><a class="dropdown-item" href="#">Lahore</a></li> -->
          <!-- <li>
                  <hr class="dropdown-divider">
                </li> -->
          <!-- <li><a class="dropdown-item" href="#">Karachi</a></li>
              </ul>
            </li> -->
          <li class="nav-item dropdown user-drop">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa-solid fa-user-large"></i>
            </a>
            <ul class="dropdown-menu user-dropdown" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="userProfile"><i class="fa-solid fa-user"></i> Profile</a></li>
              <li><a class="dropdown-item" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>