<%- include('header'); -%>


<main>
  <section id="Top-section">
    <div class="container top-section-container">
      <div class="row position-relative">
        <div class="col left-column col-lg-6 col-sm-12">
          <div class="container-fluid top-section-container-fluid">
            <h3>Home Maintenance and services now at your doorstep!!</h3>
            <p class="top-section-parapgraph">Connecting Customers and Technicians from major cities of Pakistan for Quick, Safe, and Affordable Bookings</p>
            <button type="button" class="btn btn-outline-dark btn-lg download-button"><i class="fa-brands fa-apple"></i> Download</button>
            <button type="button" class="btn btn-outline-dark btn-lg download-button"><i class="fa-brands fa-google-play"></i> Download</button>
          </div>
        </div>
        <div class="col right-column col-lg-6 col-sm-12 position-relative">
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000">
                <img src="images\pexels-bidvine-1249611.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="images\pexels-karolina-grabowska-4239146.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="images\pexels-los-muertos-crew-8853470.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="images\pexels-los-muertos-crew-8853500.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="images\pexels-matilda-wormwood-4098885.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="images\pexels-matilda-wormwood-4099260.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="images\pexels-tom-fisk-11256545.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="Middle-section">
    <div class="container middle-section-container-1">
      <div class="middle-container-info">
        <h2>Services</h2>
        <p>Choose from our Wide Range of Home Maintenance Services</p>
      </div>
      <div class="row middle-section-row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="middle-section-card text-center">
            <div class="card-body">
              <img class="icon" src="images/air-conditioner.png" alt="">
              <p class="card-title">AC Services</p>
              <p class="card-text"></p>
              <a href="/airCondition" class="btn btn-outline-dark">Order now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="middle-section-card text-center">
            <img class="icon" src="images/plumber.png" alt="">
            <div class="card-body">
              <p class="card-title">Plumber Services</p>
              <p class="card-text"></p>
              <a href="/airCondition" class="btn btn-outline-dark">Order now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="middle-section-card text-center">
            <img class="icon" src="images/electrician.png" alt="">
            <div class="card-body">
              <p class="card-title">Electrician services</p>
              <p class="card-text"></p>
              <a href="#" class="btn btn-outline-dark">Order now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="middle-section-card text-center">
            <img class="icon" src="images/wrench.png" alt="">
            <div class="card-body">
              <p class="card-title">Handyman services</p>
              <p class="card-text"></p>
              <a href="#" class="btn btn-outline-dark">Order now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="middle-section-card text-center">
            <img class="icon" src="images/carpenter.png" alt="">
            <div class="card-body">
              <p class="card-title">Carpenter Services</p>
              <p class="card-text"></p>
              <a href="#" class="btn btn-outline-dark">Order now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="middle-section-card text-center">
            <img class="icon" src="images/roller.png" alt="">
            <div class="card-body">
              <p class="card-title">Painter Services</p>
              <p class="card-text"></p>
              <a href="#" class="btn btn-outline-dark">Order now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="middle-section-card text-center">
            <img class="icon" src="images/mop.png" alt="">
            <div class="card-body">
              <p class="card-title">Cleaning Services</p>
              <p class="card-text"></p>
              <a href="#" class="btn btn-outline-dark">Order now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="middle-section-card text-center">
            <img class="icon" src="images/car.png" alt="">
            <div class="card-body">
              <p class="card-title">Car Services</p>
              <p class="card-text"></p>
              <a href="#" class="btn btn-outline-dark">Order now</a>
            </div>
          </div>
        </div>
      </div>
      <a href="https://api.whatsapp.com/send?phone=+923058601815&text=Hi+Mr.+Expert%21&lang=en" class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
      </a>
    </div>
    <div class="container middle-section-container-2">
      <div class="container middle-section-container-2-inner">
        <div class="row">
          <div class="col col-lg-6 col-sm-12 col-complaint">
            <h3>Customer Complaints Section</h3>
            <p>Leave your complaint here to help us make our services better for you!</p>
          </div>
          <div class="col col-lg-6 col-sm-12">
            <form action="/home" method="post">
              <!-- Name input -->
              <div class="form-outline mb-4">
                <input type="text" id="form4Example1" class="form-control" placeholder="Name" name="name" />
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form4Example2" class="form-control" placeholder="Email address" name="email" />
              </div>

              <!-- Message input -->
              <div class="form-outline mb-4">
                <textarea class="form-control" id="form4Example3" rows="4" placeholder="Message" name="message"></textarea>
              </div>

              <!-- Checkbox -->
              <!-- <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" id="chkbx" name=checkbox />
                <label class="form-check-label" for="form4Example4">
                  Send me a copy of this message
                </label>
              </div> -->

              <!-- Submit button -->
              <button onclick="check()" type="submit" class="btn btn-primary mb-4 btn-form">
                Send
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include('footer'); -%>
