<%- include('header'); -%>

<body>
  <main>
    <div class="card-container container">
      <div class="card text-center border-dark mb-3 login-card">
        <div class="card-header">
          Login Page
        </div>
        <div class="card-body">
          <form action="/login" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">username</label>
              <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username">
              <div id="emailHelp" class="form-text">We'll never share your username with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <!-- <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div> -->
            <button type="submit" class="btn btn-outline-primary">Login</button>
          </form>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">
          <a href="/signup">Don't have an account? Sign up here</a>
        </div>
      </div>

    </div>
  </main>
</body>
<%- include('footer'); -%>
