<%- include('header'); -%>

<body>
    <main>
        <div class="card-container container">
          <div class="card text-center border-dark mb-3 login-card">
            <div class="card-header">
              <h4>Success!</h4>
            </div>
            <div class="card-body">
                <p>Thank you, your order has been placed successfully.</p>
            </div>
            <div class="card-footer text-muted">
              <a class="btn btn-outline-dark" href="/userProfile">OK</a>
            </div>
          </div>
    
        </div>
      </main>
</body>