<%- include('header'); -%>

<body>
    <div class="container">
    <table class="table login-card">
        <thead>
          <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Order date/time</td>
            <td>12/07/2022 09:06PM</td>
          </tr>
          <tr>
            <td>Order name</td>
            <td>AC Service</td>
          </tr>
          <tr>
            <td>Order price</td>
            <td>1500</td>
          </tr>
          <tr>
            <td>Total price</td>
            <td>1500</td>
          </tr>
        </tbody>
      </table>
      </div>
      </body>